.container {
  width: 100%;
  height: $header_height;
  padding-block: $header_padding;
  background-color: $background_white;
  box-shadow: 0px 7px 7px rgba(109, 109, 109, 0.04);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: $max_content_width;
  margin-inline: auto;
  height: $header_content_height;
}

.left_section {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
}

.right_section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: $space_md;
  height: 100%;
}

.logo_link {
  height: $header_content_height;
}

.logo {
  height: $header_content_height;
  width: auto;
}